body {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  font-weight: 700;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
}
header {
  font-size: 16px;
  color: #fff;
}
.filter legend {
  font-size: 24px;
}
