body {
  font-size: 14px;
  line-height: 1;
  color: #000;
  font-weight: bold;
  font-family: "PT Sans Narrow", "Arial", "Sans-serif";
  text-transform: uppercase;
}
header {
  font-size: 16px;
  color:#fff;
}
.filter h2 {
  font-size: 24px;
}
